.registration_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--black-color);
  background-color: #adb59f83;
  padding: 15px;
  font-family: Manrope;
  width: 646px;
  .register_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
    .register_header_name {
      color: #000;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .register_form_list {
    margin-top: 15px;
    .registration_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-image: none;
      .UserNameSurname_list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .UserNameSurname_item {
          .form-input-name {
            margin-top: 32px;
            border-radius: 5px;
            padding: 0 15px;
            text-align: start;
            height: 56px;
            background-color: #e6e0e9;
            border: none;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: 0.5px;
            &::placeholder {
              color: #49454f;
              position: relative;
              left: 0;
              top: -15px;
              padding: 0px;
              font-family: Roboto;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px;
            }
          }
        }
      }
      .form-input {
        margin-top: 32px;
        border-radius: 5px;
        padding: 0 15px;
        text-align: start;
        width: 543px;
        height: 56px;
        background-color: #e6e0e9;
        border: none;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.5px;
        &::placeholder {
          color: #49454f;
          position: relative;
          left: 0;
          top: -15px;
          padding: 0px;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
        }
      }
      .custom-file-upload {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 32px;
        overflow: hidden;
        cursor: pointer;
        width: 100%;

        border-radius: 8px;
        .create_image {
          display: none;
        }
        .label_upload {
          background-color: #e6e0e9;
          color: var(--black-color);
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-radius: 12px;
          width: 250px;
          height: 56px;
        }
        .custom-file-upload label {
          display: flex;
          align-items: center;
          text-align: center;
          height: 56px;
        }
        .custom-file-upload input[type="file"] {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          font-size: 20px;
          cursor: pointer;
          opacity: 0;
        }
      }

      .register_input {
        width: 139px;
        height: 31px;
        margin-top: 32px;
        background: white;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        padding: 5px;
        border: none;
      }
      div {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        .form-label {
          margin-top: 5px;
          color: #49454f;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
        }
      }
    }
  }
  .register_login_list {
    display: flex;
    align-items: center;
    margin: 15px 0;
    .register_login_span {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .button_login {
      margin-left: 15px;
      color: rgba(11, 145, 175, 0.72);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: medium none;
      background-image: none;
      float: left;
      background-color: transparent;
      margin-right: 15px;
      font-size: 20px;
    }
  }
  .cloose_button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    border: medium none;
    background-image: none;
    background: transparent;
    float: left;
    background-color: transparent;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
