.Admin_view_schedule_item {
  display: flex;
  width: 100%;
  .Admin_view_schedule__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Admin_view_schedule {
      // display: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      select {
        display: flex;
        width: 200px;
        margin-top: 30px;
        padding: 15px 16px;
        align-items: center;
        gap: 16px;
        border-radius: 5px;
        border: 1px solid #030303;
        color: #181719;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.16px;
      }
      .therapist-schedule_block {
        width: 80%;
        display: none;
        justify-content: flex-start;
        margin-top: 20px;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 10px 5px 5px rgb(192, 192, 192);
        padding: 20px;
        overflow-x: scroll;
        .schedule_list {
          min-width: 300px !important;
          min-height: 380px !important;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          border-radius: 16px;
          border: 1px solid black;
          padding: 5px;
          margin-right: 15px;
          .schedule_data_header {
            width: 100%;
            display: flex;
            justify-content: center;
            h1 {
              color: #000;
              text-align: center;
              font-family: var(--font-family-Manrope);
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }
          .start_work_day {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 5px;
            background-color: #8b62de;
            .start_work_time {
              color: #000;
              text-align: center;
              font-family: var(--font-family-Manrope);
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          .schedule_list_records {
            width: 100%;
            display: flex;
            justify-content: center;
            height: 100%;
            .schedule_list_records_list {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              .schedule_list_records_item {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 5px;
                .durations {
                  width: 100%;
                  color: #000;
                  text-align: center;
                  font-family: var(--font-family-Manrope);
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  background-color: #61cb80;
                }
                .name_procedure {
                  width: 100%;
                  color: #000;
                  text-align: center;
                  font-family: var(--font-family-Manrope);
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  background-color: #b2ecc6;
                }
                .user_list {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  background-color: #b2ecc6;
                  color: #000;
                  text-align: center;
                  font-family: var(--font-family-Manrope);
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  background-color: #b2ecc6;
                  .user_name {
                    margin-right: 5px;
                  }
                }
              }
            }
          }
          .end_work_day {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 5px;
            background-color: #8b62de;
            .end_work_time {
              color: #000;
              text-align: center;
              font-family: var(--font-family-Manrope);
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
      .therapist-schedule_block::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: #f9f9fd;
      }
      .therapist-schedule_block::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #61cb80;
      }

      .therapist-schedule_block::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: #f9f9fd;
      }
    }
    .Add_schedule_button_block {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 30px;
      animation: 5s show ease;
      cursor: pointer;
    }
    .Admin_create_schedule {
      display: none;
      width: 380px;
      flex-direction: column;
      align-items: center;
      border: 1px gray solid;
      padding: 5px;
      background-color: #fff;
      border-radius: 8px;
      font-family: var(--font-family-Manrope);
      box-shadow: 10px 5px 5px rgb(192, 192, 192);
      animation: 5s show ease;
      .Add_schedule_close_button_block {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .Add_schedule_close_button {
          width: 15px;
          height: 15px;
          cursor: pointer;
        }
      }
      #calendar-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        .calendar_input {
          color: #000;
          font-family: var(--font-family-Manrope);
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .schedule-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        select {
          color: #000;
          font-family: var(--font-family-Manrope);
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .time_list {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-top: 20px;
          .time_item {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
              width: 80px;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              color: #000;
              font-family: var(--font-family-Manrope);
            }
          }
        }
        .create_schedule_block_button {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 20px;
          .create_schedule_button {
            border: 2px solid #0c0c0c;
            padding: 15px 30px;
            color: #141414;
            text-align: center;
            font-family: var(--font-family-Manrope);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.5px;
            letter-spacing: 1.56px;
            text-transform: uppercase;
            cursor: pointer;
            // width: 200px;
            background-color: transparent;
          }
        }
      }
    }
  }
}
