<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block style %}
    {% load static %}
    {% load socialaccount %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}
    <script src="{% static 'js/classChanger.js' %}" defer></script>
    <title>TCSpa</title>
    <style>
        .Main_Header {
            background: url('{% static 'img/header.png' %}');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center -50px;

        }
        .add_custom-file-upload {
            background: url('{% static 'img/add_categories_background.jpg' %}');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center -50px;
        }
    </style>
</head>
<body>
    <header class="Main_Header">
        <ul class="Main_Header_list">
            <li class="Main_Header_info">
                <ul class="Main_Header_info_list">
                    <li class="Main_info_logo">
                        <a href="{% url 'index' %}" class="Main_info_link">
                            <img src="{%static 'icon/logo_black.svg'%}" alt="" class="logo">
                        </a>
                        <span class="Main_info_link">
                            Theraphy Cup Spa
                        </span>
                    </li>
                    <li class="Main_Header_autorization">
                        <ul class="authorization_list">
                            {% if request.user.is_authenticated %}
                                <li class="authorization"> 
                                    <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="button_logout">Вийти</button>
                                    </form>
                                </li>
                            {% else %}
                                <li class="authorization"><button type="submit" class="button_login" id="active_button_login">Вхiд</button> | <button type="submit" class="button_register" id="active_button_register">Зареєструватися</button></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="Main_Header_navigation">
                <ul class="Main_Header_navigation_list">
                    <li class="Navigation_list_nav">
                        <ul class="navigation_list_nav_list">
                            <li class="Main_Header_navigation_item">
                                <a href="{% url 'blog_news' %}">Новини i блог</a>
                            </li>
                            <li class="Main_Header_navigation_item">
                                <a href="{% url 'gallery' %}">Фотогалерея</a>
                            </li>
                            <li class="Main_Header_navigation_item">
                                <a href="{% url 'cafe' %}">Кав’ярня</a>
                            </li>
                        </ul>
                    </li>
                    <li class="Main_Header_navigation_contacts">
                        <ul class="Navigation_contacts_list">
                            <li class="contacts_item">
                                <a href="#" class="contacts_item_link">
                                    <img src="{%static 'icon/facebook_black.svg'%}" alt="" class="contacts_item_img">
                                </a>
                            </li>
                            <li class="contacts_item">
                                <a href="#" class="contacts_item_link">
                                    <img src="{%static 'icon/instagram_black.svg'%}" alt="" class="contacts_item_img">
                                </a>
                            </li>
                            <li class="contacts_item">
                                <a href="#" class="contacts_item_link">
                                    <img src="{%static 'icon/wats_up_black.svg'%}" alt="" class="contacts_item_img">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="Main_Header_login_form" id="login_form">
                <ul class="login_list">
                    <li class="login_header">
                        <h1 class="login_header_name">Вхід</h1>
                    </li>
                    <li class="login_register_list">
                        <span class="login_register_span">У вас немає акаунту, зайдіть</span>
                        <button type="submit" class="button_login" id="active_button_register_in_login">тут</button>
                    </li>
                    <li class="login_form_list">
                        <form method="post" class="login_form" action="{% url 'index' %}">
                            {% csrf_token %}
                            {{ form.errors}}
                            {{ form.email }}
                            <div>
                                <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
                            </div>
                            {{ form.password }}
                            <div>
                                <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
                            </div>
                            <input type="submit" value="Вхiд" name="login" class="login_input">
                        </form>
                    </li>
                    <li class="provider_list">
                        <form action="{% provider_login_url 'google' %}" method="post" class="provider_form">
                            {% csrf_token %}
                        <button type="submit" class="provider_button"><span class="provider_text">Вхід через Google</span><img src="{%static 'icon/google.svg'%}" alt="" class="provider_img"></button>
                        </form>
                    </li>
                    <button class="cloose_button" id="cloose_button_login"><img src="{%static 'icon/cloose.png'%}" alt=""></button>
                    <script src="{% static 'js/login_form.js' %}"></script>
                </ul>

            </li>
            <li class="Main_Header_register_form" id="register_form">
                <ul class="registration_list">
                    <Li class="register_header">
                        <h1 class="register_header_name">Реєстрація</h1>
                    </Li>
                    <li class="register_form_list">
                        <form method="post" enctype="multipart/form-data" class="registration_form">
                            {% csrf_token %}
                            {{ register_form.errors}}
                            <ul class="UserNameSurname_list">
                                <li class="UserNameSurname_item">
                                    {{ register_form.first_name }}
                                    <div>
                                        <label for="{{ form.first_name.id_for_label }}" class="form-label">{{ register_form.first_name.label }}</label>
                                    </div>
                                </li>
                                <li class="UserNameSurname_item">
                                    {{ register_form.last_name }}
                                    <div>
                                        <label for="{{ form.last_name.id_for_label }}" class="form-label">{{ register_form.last_name.label }}</label>
                                    </div>
                                </li>
                            </ul>
                            {{ register_form.phone }}
                            <div>
                                <label for="{{ form.phone.id_for_label }}" class="form-label">{{ register_form.phone.label }}</label>
                            </div>
                            {{ register_form.email }}
                            <div>
                                <label for="{{ form.email.id_for_label }}" class="form-label">{{ register_form.email.label }}</label>
                            </div>
                            <div class="custom-file-upload">
                                <label for="id_profile_image" class="label_upload">Вибрати зображення</label>
                                {{ register_form.profile_image }}
                            </div>
                            {{ register_form.password1 }}
                            <div>
                                <label for="{{ register_form.password.id_for_label }}" class="form-label">{{ register_form.password1.label }}</label>
                            </div>
                            {{ register_form.password2 }}
                            <div>
                                <label for="{{ register_form.password.id_for_label }}" class="form-label">{{ register_form.password2.label }}</label>
                            </div>
                            <input type="submit" value="Зареєструватися" name="register" class="register_input">
                        </form>
                    </li>
                    <li class="register_login_list">
                        <span class="register_login_span">У вас вже є акаунт? </span>
                        <button type="submit" class="button_login" id="active_button_login_in_registr">Вхiд</button>
                    </li>
                    <button class="cloose_button" id="cloose_button_register"><img src="{%static 'icon/cloose.png'%}" alt=""></button>
                    <script src="{% static 'js/register_form.js' %}"></script>
                </ul>
            </li>
            <li class="Main_Header_text">
                <ul class="Main_Header_text_list">
                    <li class="Main_Header_text_item">
                        <h1>SPA-терапія</h1>
                    </li>
                    <li class="Main_Header_text_item">
                        <h1>Подаруйте собі миті насолоди </h1>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <main class="Main_Page">
        <section class="Main_About_Us Block_content">
            <ul class="Main_About_Us_list">
                <li class="Main_headers">
                    <h1>
                        Про нас
                    </h1>
                    <hr>
                </li>
                <li class="Main_About_Us_info">
                    <ul class="Main_About_Us_info_list">
                        <li class="Main_About_Us_info_text">
                            <ul class="info_text_list">
                                <li class="info_text_item">
                                    <span class="empty_box"></span>
                                    <span>Вітаємо вас у нашому унікальному закладі, де кожен куток пронизаний атмосферою затишку та релаксу.
                                        Тут ви зможете забути про гамір міста та щоденні турботи, поринаючи у світ бажань і задоволення.
                                         Наша місія - дарувати вам не лише приємні моменти, а й дбати про ваше благополуччя та здоров'я.
                                          Ви гість у нашому світі і ми готові зробити все для вашої гармонії та насолоди.</span>
                                </li>
                                <li class="info_text_item">
                                    <img src="{% static 'icon/checkmark.svg' %}" alt="">
                                    <span>Ми створили атмосферу, де ви відчуєте себе особливим,
                                         де кожен ковток кави і спа-ритуал стане чарівною миттю для вас.
                                    </span>
                                </li>
                                <li class="info_text_item">
                                    <img src="{% static 'icon/checkmark.svg' %}" alt="">
                                    <span>
                                        Для нас кожен гість унікальний,
                                        тому пропонуємо індивідуальні програми спа-процедур та персоналізовані кавові напої.
                                    </span>
                                </li>
                                <li class="info_text_item">
                                    <img src="{% static 'icon/checkmark.svg' %}" alt="">
                                    <span>
                                        Ми пропонуємо широкий спектр спа-процедур,
                                        від масажів до ексклюзивних обгортань, а також різноманітні пропарки та церемонії.
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li class="Main_About_Us_info_gallery">
                            <ul class="Main_About_Us_info_gallery_list">
                                <li class="info_gallery_item">
                                    <img src="{% static 'img/info_gallery_1.png' %}" alt="">
                                </li>
                                <li class="info_gallery_item">
                                    <img src="{% static 'img/info_gallery_2.png' %}" alt="">
                                </li>
                                <li class="info_gallery_item">
                                    <img src="{% static 'img/info_gallery_3.png' %}" alt="">
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="Main_Philosophy Block_content">
            <ul class="Main_Philosophy_list">
                <li class="Main_headers">
                    <h1>
                        Філософія
                    </h1>
                    <hr>
                </li>
                <li class="Main_Philosophy_content">
                    <ul class="Main_Philosophy_content_list">
                        <li class="Content_item">
                            <img src="{% static 'icon/eco_strategies.svg' %}" alt="">
                            <h2>Еко стратегії</h2>
                            <span>Ми впроваджуємо екологічно чисті технології та використовуємо натуральні, органічні продукти, щоб забезпечити не лише ефективність процедур, а й безпеку для навколишнього середовища. Наші інноваційні рішення допомагають зменшити вплив на природу, зберігаючи її красу для майбутніх поколінь.</span>
                        </li>
                        <li class="Content_item">
                            <img src="{% static 'icon/professional_care.svg' %}" alt="">
                            <h2>Професійний догляд</h2>
                            <span>Кваліфіковані спеціалісти в курсі останніх тенденцій і технік. Вони розуміють унікальні потреби клієнта і завжди готові надати індивідуальні рекомендації та високоякісний сервіс. Працюють з великим старанням, щоб забезпечити вам найкращі результати і незабутні враження від кожного візиту до нашого спа-салону.</span>
                        </li>
                        <li class="Content_item">
                            <img src="{% static 'icon/individual_approach.svg' %}" alt="">
                            <h2>Індивідуальний підхід</h2>
                            <span>Наші спеціалісти пропонують індивідуальний підхід до кожного клієнта, враховуючи всі особливості вашої шкіри та розробляючи унікальні програми догляду, адаптовані до ваших потреб. Це поєднання дозволяє досягти найкращих результатів і забезпечує максимальний ефект від процедур.</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="Main_Spa_Categories Block_content">
            <ul class="Main_Spa_Categories_list">
                <li class="Main_headers">
                    <h1>
                        Послуги
                    </h1>
                    <hr>
                </li>
                <li class="Main_Spa_Categories_content">
                    <ul class="Main_Spa_Categories_content_list">
                        {% for category in spa_categories %}
                            <li class="Main_Spa_Categories_content_item">
                                <div class="spa_categories_wrapper">
                                    <ul class="Categories_content_item_list" id="categories_front_{{ category.id }}" data-category='{"name": "{{ category.name }}", "description": "{{ category.description }}", "categories_image": "{% if category.categories_image %}{{ category.categories_image.url }}{% endif %}"}'>
                                        <li class="item_image">
                                            {% if category.categories_image %}
                                                <img src="{{ category.categories_image.url }}" alt="" class="Category_img">
                                            {% else %}
                                                <img src="{% static 'icon/logo.svg' %}" alt="">
                                            {% endif %}
                                        </li>
                                        <li class="item_header">
                                            <h2>{{ category.name }}</h2>
                                        </li>
                                        <li class="item_description">
                                            <span class="item_description_text">{{ category.description }}</span>
                                        </li>
                                        <li class="item_info">
                                            <a href="{% url 'categories' category.id %}">Дізнатися більше</a>
                                            <a href="#" class="Category_Link_Sign_Up">Записатись</a>
                                        </li>
                                        <li class="admin_buttons">
                                            <img src="{% static 'icon/update_button.svg' %}" alt="" class="Update_image" update-category-id="{{ category.id }}">
                                            <img src="{% static 'icon/basket.svg' %}" alt="" class="Basket_image" delete-category-id="{{ category.id }}">
                                        </li>
                                    </ul>
                                    <ul class="Categories_update_item_list" id="categories_back_{{ category.id }}">
                                        <li class="Cloose_image_item">
                                            <img src="{% static 'icon/cloose.png' %}" alt="" class="Cloose_image" close-category-id="{{ category.id }}">
                                        </li>
                                        <li class="categories_update_form_list">
                                           <form method="post" enctype="multipart/form-data" class="categories_update_form">
                                                {% csrf_token %}
                                                    <input type="hidden" name="category_id" value="{{ category.id }}">
                                                    <div class="custom-file-upload">
                                                        <div class="label_upload_block" id="label_upload_block_{{ category.id }}">
                                                            <label for="categories_image_{{ category.id }}" class="label_upload">Вибрати зображення</label>
                                                        </div>
                                                         <!-- Скрытый input для выбора файла -->
                                                        <input type="file" name="categories_image" id="categories_image_{{ category.id }}" class="create_categories_image" style="display: none;">
                                                    </div>
                                                    <input type="text" name="name" id="name_{{ category.id }}" placeholder="Назва категорії" class="create_name">
                                                    <textarea name="description" id="description_{{ category.id }}" placeholder="Опис категорії" class="create_description"></textarea>
                                                    <input type="submit" value="Оновити" name="update_categories" class="update_categories_input">
                                            </form>
                                        </li>
                                    </ul>
                                    <ul class="Categories_delete_item_list" id="categories_delete_{{ category.id }}">
                                        <li class="Categories_delete_item_header">
                                            <h2>Ви хочете видалити категорію?</h2>
                                        </li>
                                        <li class="Categories_delete_item_choice">
                                            <form method="post" action="{% url 'category_delete' category.pk %}" class="delete_categories_form">
                                                {% csrf_token %}
                                                <input type="hidden" name="delete_id" value="{{ category.pk }}">
                                                <input type="submit" value="Видалити" class="delete_categories">
                                            </form>
                                            <span class="cancel_delete" cancel-delete-category-id="{{ category.id }}">Закрити</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                       <script src="{% static 'js/spa_categories_rotate_card.js' %}"></script>
                       <script src="{% static 'js/delete_categories.js' %}"></script>
                    </ul>
                    <div class="Add_Categories_button_block">
                        <img src="{% static 'icon/add_button.png' %}" alt="" class="Add_Categories_button" id="Add_Categories_button">
                    </div>
                    <div class="Add_Spa_Categories_block" id="Add_Spa_Categories_block">
                        <ul class="Add_Spa_Categories_list">
                            <li class="Add_Categories_close_button_item">
                                <img src="{% static 'icon/cloose.png' %}" alt="" class="Add_Categories_close_button" id="Add_Categories_close_button">
                            </li>
                            <li class="Add_Categories_form_item">
                                <form method="post" enctype="multipart/form-data" class="categories_add_form">
                                    {% csrf_token %}
                                    {{ categories_add_form.non_field_errors }}

                                    <div class="add_custom-file-upload">
                                        <div class="add_custom-file-upload_block">
                                            <button type="button" id="custom-button" class="add_image_custom-button">Вибрати зображення</button>
                                            <span id="custom-text" class="add_image_custom_text">Файл не вибран</span>
                                        </div>
                                        {{ categories_add_form.categories_image }}
                                    </div>
                                    {% if categories_add_form.categories_image.errors %}
                                        <div class="error">{{ categories_add_form.categories_image.errors }}</div>
                                    {% endif %}

                                    <div>
                                        {{ categories_add_form.name.label_tag }}
                                        {{ categories_add_form.name }}
                                        {% if categories_add_form.name.errors %}
                                            <div class="error">{{ categories_add_form.name.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div>
                                        {{ categories_add_form.description.label_tag }}
                                        {{ categories_add_form.description }}
                                        {% if categories_add_form.description.errors %}
                                            <div class="error">{{ categories_add_form.description.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <input type="submit" value="Додати" name="add_categories" class="add_categories_input">
                                <form>

                                <script>
                                    document.getElementById("custom-button").addEventListener("click", function() {
                                        document.getElementById("id_categories_image").click();
                                    });
                                
                                    document.getElementById("id_categories_image").addEventListener("change", function() {
                                        const fileName = document.getElementById("id_categories_image").files[0].name;
                                        document.getElementById("custom-text").textContent = fileName;
                                    });
                                </script>
                            </li>
                        </ul>
                    </div>
                </li>
                <script src="{% static 'js/add_categories.js' %}"></script>
            </ul>
        </section>
        <section class="Main_Massage_Therapist Block_content">
            <ul class="Main_Massage_Therapist_list">
                <li class="Main_headers">
                    <h1>
                        Спеціалісти
                    </h1>
                    <hr>
                </li>
                <li class="Main_Massage_Therapist_content">
                    <ul class="Main_Massage_Therapist_content_list">
                        {% for therapist in massage_therapists %}
                            <li class="Massage_Therapist_content_item">
                                {% if therapist.user.profile_image %}
                                    <img src="{{ therapist.user.profile_image.url }}" alt="" class="Massage_Therapist_img">
                                {% else %}
                                    <img src="{% static 'icon/logo.svg' %}" alt="">
                                {% endif %}
                                <ul class="content_item_info_list">
                                    <li class="content_item_info">
                                        <span class="content_item_name">{{therapist.user.username}}</span>
                                        <ul class="content_item_position_list">
                                            {% for position in therapist.position.all %}
                                        <li class="content_item_position">
                                            <span>
                                                {{ position.name }}
                                                    </span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <ul class="rating_list"> 
                                            <li class="rating" data-rating="{{therapist.average_rating}}">

                                            </li>
                                            <li class="average_rating">
                                                <span>
                                                    {{therapist.average_rating}}
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="content_item_sign_up">
                                        <a href="#" class="therapist_link_sign_up">Записатись</a>
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}
                        <script src="{% static 'js/add_stars.js' %}"></script>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="Main_Why_Us">
            <ul class="Main_Why_Us_list">
                <li class="Main_Why_Us_header">
                    <h1>
                        Чому саме ми?
                    </h1>
                    <hr>
                </li>
                <li class="Main_Why_Us_content">
                    <ul class="Main_Why_Us_content_list">
                        <li class="Main_Why_Us_content_item">
                            <h2>Якість</h2>
                            <span>Наш спа-салон забезпечує найвищу якість послуг завдяки кваліфікованим спеціалістам, індивідуальному підходу та використанню новітніх технологій і органічних продуктів.</span>
                        </li>
                        <li class="Main_Why_Us_content_item">
                            <h2>Ефективність</h2>
                            <span>Ефективність наших спа-процедур полягає в поєднанні передових методик, індивідуально підібраних програм і ретельно відібраних продуктів, що гарантують тривалі та помітні результати.</span>
                        </li>
                        <li class="Main_Why_Us_content_item">
                            <h2>Безпека</h2>
                            <span>Безпека нашого спа-салону забезпечується дотриманням найвищих стандартів гігієни, використанням екологічно чистих продуктів і суворим контролем якості процедур</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="Main_Review Block_content">
            <ul class="Main_Review_list">
                <li class="Main_headers">
                    <h1>Відгуки</h1>
                    <hr>
                </li>
                <li class="Block_review">
                    <ul class="Review_list" id="review_list">
                        {% for review in reviews %}
                            <li class="review_item">
                                <ul class="review_user_info_list">
                                    <li class="review_user_image">
                                        {% if review.user.profile_image %}
                                            <img src="{{ review.user.profile_image.url }}" alt="" class="user_image">
                                        {% else %}
                                            <img src="{% static 'icon/profile.png' %}" alt="" class="user_image">
                                        {% endif %}
                                    </li>
                                    <li class="review_user_name">{{ review.user.first_name }} {{ review.user.last_name }}</li>
                                </ul>
                                <span class="review_commit">{{ review.comment }}</span>
                                <ul class="rating_list">
                                    <li class="rating" data-rating="{{ review.rating }}"></li>
                                    <li class="created_at_item">
                                        <span>{{ review.created_at|date:"Y-m-d" }}</span>
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                    <button id="load_more_reviews" class="load_more_button"><img src="{% static 'icon/arrow_down.png' %}" alt=""></button>
                </li>
            </ul>
            <div id="loading" style="display: none;">Loading...</div>
            <script src="{% static 'js/reviews.js' %}"></script>
            <script src="{% static 'js/rating.js' %}"></script>
        </section>
    </main>
    <footer class="Main_Footer Background_Main_Page_Footer" id="footer">
        <ul class="Main_Footer_list">
            <li class="Main_Footer_headers">
                <h1>Контакти</h1>
                <hr>
            </li>
            <li class="Main_Footer_Info">
                <span>Theraphy Cup Spa, s.r.o.</span>
                <span>Recepce +420776652345</span>
                <span>IČ: 05682606</span>
                <span>DIČ: CZ05782303</span>
                <span>Fakturační adresa: Na Lysině 678/25, 147 00, Praha 4, Česká republika</span>
            </li>
            <li class="Main_Footer_navigation">
                <ul class="Main_Footer_navigation_list">
                    <li class="Navigation_list_nav">
                        <ul class="navigation_list_nav_list">
                            <li class="Main_Footer_navigation_item">
                                <a href="{% url 'blog_news' %}">Новини i блог</a>
                            </li>
                            <li class="Main_Footer_navigation_item">
                                <a href="{% url 'gallery' %}">Фотогалерея</a>
                            </li>
                            <li class="Main_Footer_navigation_item">
                                <a href="{% url 'cafe' %}">Кав’ярня</a>
                            </li>
                        </ul>
                    </li>
                    <li class="Main_Footer_navigation_contacts">
                        <ul class="Navigation_contacts_list">
                            <li class="contacts_item">
                                <a href="#" class="contacts_item_link">
                                    <img src="{%static 'icon/facebook_black.svg'%}" alt="" class="contacts_item_img">
                                </a>
                            </li>
                            <li class="contacts_item">
                                <a href="#" class="contacts_item_link">
                                    <img src="{%static 'icon/instagram_black.svg'%}" alt="" class="contacts_item_img">
                                </a>
                            </li>
                            <li class="contacts_item">
                                <a href="#" class="contacts_item_link">
                                    <img src="{%static 'icon/wats_up_black.svg'%}" alt="" class="contacts_item_img">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="Main_Footer_info">
                <ul class="Main_Footer_info_list">
                    <li class="Main_info_logo">
                        <a href="{% url 'index' %}" class="Main_info_link">
                            <img src="{%static 'icon/logo_black.svg'%}" alt="" class="logo">
                        </a>
                        <span class="Main_info_link">
                            Theraphy Cup Spa
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </footer>
</body>
</html>