{% extends 'base.html' %}
{% load static %}

{%block style %}
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
{% endblock %}
{% block content %}
<div class="Categories_main_list">
    <button class="prev" id="leftBtn"><img src="{% static 'icon/arrow_left.png' %}" alt="left"></button>
    <ul class="Categories_list">
        <li class="Categories_Galery">
            <ul class="Categories_Galery_list">
                {% for item in object_list %}
                    <li class="Categories_Galery_items">
                        {% if item.categories_image %}
                            <img src="{{ item.categories_image.url }}" alt="" class="Categories_img">
                        {% else %}
                            <img src="{% static 'icon/logo.svg' %}" alt="">
                        {% endif %}
                        <ul>
                            <img src="{% static 'icon/Vector_blur.png' %}" alt="Vector" class="Categories_rhombus">
                            <li>
                                <span>{{ item.name }}</span>
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <button class="next" id="rightBtn"><img src="{% static 'icon/arrow_right.png' %}" alt="right"></button>
</div>
    <script src="{% static 'js/scroll_categories.js' %}"></script>
{% endblock %}