{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{%block style %}
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
{% endblock %}

{% block content %}
<ul class="login_list">
    <li class="login_header">
        <h1 class="login_header_name">Вхід</h1>
    </li>
    <li class="login_register_list">
        <span class="login_register_span">У вас немає акаунту, зайдіть <a href="{% url 'register' %}" class="login_register_link">тут</a></span>
    </li>
    <li class="login_form_list">
        <form method="post" class="login_form">
            {% csrf_token %}
            {{ form.errors}}
            {{ form.email }}
            <div>
                <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
            </div>
            {{ form.password }}
            <div>
                <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
            </div>
            <input type="submit" value="Вхiд" class="login_input">
        </form>
    </li>
    <li class="provider_list">
        <form action="{% provider_login_url 'google' %}" method="post" class="provider_form">
            {% csrf_token %}
        <button type="submit" class="provider_button"><span class="provider_text">Вхід через Google</span><img src="{%static 'icon/google.svg'%}" alt="" class="provider_img"></button>
        </form>
    </li>
</ul>
{% endblock %}