<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}
    <title>TCSpa</title>
    <style>
        .Main_Header {
            background: url('{% static 'img/header.png' %}');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center -50px;

        }
    </style>
</head>
<body>
    <header class="Main_Header">
        <ul class="Main_Header_list">
            <li class="Main_Header_info">
                <ul class="Main_Header_info_list">
                    <li class="Main_info_logo">
                        <a href="{% url 'index' %}" class="Main_info_link">
                            <img src="{%static 'icon/logo.svg'%}" alt="" class="logo">
                        </a>
                        <span class="Main_info_link">
                            Theraphy Cup Spa
                        </span>
                    </li>
                    <li class="Main_Header_autorization">
                        <ul class="authorization_list">
                            {% if request.user.is_authenticated %}
                                <li class="authorization"> 
                                    <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="button_logout">Вийти</button>
                                    </form>
                                </li>
                            {% else %}
                                <li class="authorization"><a href="{% url 'login' %}" class="authorization_link">Вхiд</a> | <a href="{% url 'register' %}" class="authorization_link">Зареєструватися</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="Main_Header_navigation">
                <ul class="Main_Header_navigation_list">
                    <li class="Navigation_list_nav">
                        <ul class="navigation_list_nav_list">
                            <li class="Main_Header_navigation_item">
                                <a href="#">Новини</a>
                            </li>
                            <li class="Main_Header_navigation_item">
                                <a href="#">Акції та пропозиції </a>
                            </li>
                            <li class="Main_Header_navigation_item">
                                <a href="#">Блог</a>
                            </li>
                            <li class="Main_Header_navigation_item">
                                <a href="#">Фотогалерея</a>
                            </li>
                            <li class="Main_Header_navigation_item">
                                <a href="#">Кав’ярня</a>
                            </li>
                        </ul>
                    </li>
                    <li class="Main_Header_navigation_contacts">
                        <ul class="Navigation_contacts_list">
                            <li class="contacts_item">
                                <a href="#" class="contacts_item_link">
                                    <img src="{%static 'icon/facebook.svg'%}" alt="" class="contacts_item_img">
                                </a>
                            </li>
                            <li class="contacts_item">
                                <a href="#" class="contacts_item_link">
                                    <img src="{%static 'icon/instagram.svg'%}" alt="" class="contacts_item_img">
                                </a>
                            </li>
                            <li class="contacts_item">
                                <a href="#" class="contacts_item_link">
                                    <img src="{%static 'icon/wats_up.svg'%}" alt="" class="contacts_item_img">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="Main_Header_text">
                <ul class="Main_Header_text_list">
                    <li class="Main_Header_text_item">
                        <h1>SPA-терапія</h1>
                    </li>
                    <li class="Main_Header_text_item">
                        <h1>Подаруйте собі миті насолоди </h1>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <main class="Main_Page">
        <section class="Main_About_Us Block_content">
            <ul class="Main_About_Us_list">
                <li class="Main_About_Us_header">
                    <h1>
                        Про нас
                    </h1>
                    <hr>
                </li>
                <li class="Main_About_Us_info">
                    <ul class="Main_About_Us_info_list">
                        <li class="Main_About_Us_info_text">
                            <ul class="info_text_list">
                                <li class="info_text_item">
                                    <span class="empty_box"></span>
                                    <span>Вітаємо вас у нашому унікальному закладі, де кожен куток пронизаний атмосферою затишку та релаксу.
                                        Тут ви зможете забути про гамір міста та щоденні турботи, поринаючи у світ бажань і задоволення.
                                         Наша місія - дарувати вам не лише приємні моменти, а й дбати про ваше благополуччя та здоров'я.
                                          Ви гість у нашому світі і ми готові зробити все для вашої гармонії та насолоди.</span>
                                </li>
                                <li class="info_text_item">
                                    <img src="{% static 'icon/checkmark.svg' %}" alt="">
                                    <span>Ми створили атмосферу, де ви відчуєте себе особливим,
                                         де кожен ковток кави і спа-ритуал стане чарівною миттю для вас.
                                    </span>
                                </li>
                                <li class="info_text_item">
                                    <img src="{% static 'icon/checkmark.svg' %}" alt="">
                                    <span>
                                        Для нас кожен гість унікальний,
                                        тому пропонуємо індивідуальні програми спа-процедур та персоналізовані кавові напої.
                                    </span>
                                </li>
                                <li class="info_text_item">
                                    <img src="{% static 'icon/checkmark.svg' %}" alt="">
                                    <span>
                                        Ми пропонуємо широкий спектр спа-процедур,
                                        від масажів до ексклюзивних обгортань, а також різноманітні пропарки та церемонії.
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li class="Main_About_Us_info_gallery">
                            <ul class="Main_About_Us_info_gallery_list">
                                <li class="info_gallery_item">
                                    <img src="{% static 'img/info_gallery_1.png' %}" alt="">
                                </li>
                                <li class="info_gallery_item">
                                    <img src="{% static 'img/info_gallery_2.png' %}" alt="">
                                </li>
                                <li class="info_gallery_item">
                                    <img src="{% static 'img/info_gallery_3.png' %}" alt="">
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>