{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{%block style %}
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
{% endblock %}
{% block content %}
<ul class="registration_list">
    <Li class="register_header">
        <h1 class="register_header_name">Create Account</h1>
    </Li>
    <li class="provider_list">
        <form action="{% provider_login_url 'google' %}" method="post" class="provider_form">
            {% csrf_token %}
        <button type="submit" class="provider_button"><img src="{%static 'icon/google.svg'%}" alt="" class="provider_img"><span class="provider_text">Google</span></button>
        </form>
    </li>
    <li class="register_text_list">
        <span class="register_text">or use your email for registration</span>
    </li>
    <li class="register_form_list">
        <form method="post" class="registration_form">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Register" class="register_input">
        </form>
    </li>
    <li class="register_login_list">
        <span class="register_login_span">Already has account? <a href="{% url 'login' %}" class="register_login_link">Login</a></span>
    </li>
</ul>
{% endblock %}