@import "./components/_Admin_view_type_categories_item";
@import "./components/_Admin_view_therapist_item";
@import "./components/_Main_Spa_Categories_content";
@import "./components/_Admin_view_schedule_item";
@import "./components/_Admin_view_procedure_item";
@import "./components/_Admin_view_cafe_products_item";
@import "./components/__Admin_view_type_cafe_products_item";

.Admin_block_content_list {
  width: 100%;
  display: flex;
  min-height: 70vh;
  .Admin_navigations {
    display: flex;
    width: 15%;
    background-color: rgba(149, 154, 138, 0.8);
    padding: 15px;
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
    .Admin_navigations_header {
      color: #111010;
      font-family: var(--font-family-Manrope);
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 30.4px;
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
    .Admin_navigations_list {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .Admin_navigations_item {
        width: 100%;
        display: flex;
        padding: 10px;
        cursor: pointer;
        span {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 30.4px;
        }
      }
    }
  }

  .Admin_content {
    width: 85%;
    padding: 20px;
    .Admin_content_list {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }
}

.Admin_active {
  background-color: rgba(248, 246, 244, 0.5);
}
